@import url('https://fonts.googleapis.com/css2?family=Spartan:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "Spartan";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-size: 12px;
    font-weight: 700;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    padding: 40px 0;
}
body{
    width: 100%;
}

#header{
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px 80px;
    background-color: #dfe3f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
#close{
    display: none;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mobile{
    display: none;
}
#navbar li{
    position: relative;
    list-style: none;
    padding: 0 20px;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.2s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    position: absolute;
    background-color: #088178;
    height: 2px;
    width: 30%;
    left: 20px;
    bottom: -3px;
}




#hero{
    background-image: url("images/hero4.png");
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 20%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 10px;
}
#hero h1{
    color: #088178;
}
#hero h6{
    margin: 10px 0;
}
#hero button{
    margin-top: 20px;
    background-image: url("images/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    background-size: cover;
    background-position: center;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}
#hero button:hover{
    color: black;
}
#feature{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 180px;
    margin: 60px 0px;
}
.feature-box{
    margin: 10px 0;
    display: flex;
    border: #837d7d;
    border-width: 0.5px;
    border-style: solid;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 10px rgb(118, 120, 118);
    transition: transform 0.3s;
}
.feature-box:hover{
    transform: scale(1.2);
}
.feature-box h6{
    color: rgb(220, 107, 51);
    text-align: center;
    padding-top: 5.5%;
    width: 70%;
    height: 29px;
    font-size: 12px;
    border-radius: 4px;
}
.feature-heading{
    line-height: 50px;
    margin-top: 130px;
    text-align: center;
}
.feature-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 40px;
}
.feature-product-box{
    width: 90%;
    margin: 20px 0 20px 5%;
    position: relative;
    border-style: solid;
    border-color: rgb(181, 176, 176);
    border-radius: 12px;
    border-width: 1px;
    transition: transform 0.3s;
}
.feature-product-box:hover{
    transform: scale(1.1);
}
.AddToCart{
    flex-shrink: 3;
    cursor: pointer;
    background-color: antiquewhite;
    align-items: center;
    height: 40px;
    width: 40px;
    right: 10px;
    bottom: 10px;
    border-radius: 15px;
    border-color: rgb(0, 0, 0);
    margin: 0;
    position: absolute;
    transition: transform 0.3s;
}
.AddToCart:hover{
    transform: scale(1.3);
}
.brand-name{
    font-weight: 900;
    margin: 5px 0 5px 0; 
    font-size: 12px;
}
.title{
    margin: 5px 0 5px 0;
}
.price{
    font-weight: 900;
    color: green;
    margin: 12px 0 7px 0;
}
.star i{
    color: #ffd700;
}
.home-banner{
    text-align: center;
    margin-top: 70px;
    background-image: url("images/banner/b2.jpg");
    width: 100%;
    height: 39vh;
    background-size: cover;
    background-position: top 25% right 20%;
}
.home-banner p{
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-top: 70px;
}
.home-banner h2{
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}
.home-banner button{
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    height: 35px;
    width: 9%;
    transition: 0.3s ease;
}
.home-banner button:hover{
    background-color: #088178;
    color: white;
}
.banners-row-1{
    margin: 40px 2vw;
    display: flex;
    flex-direction: row;
}
.banner-box{
    background-size: cover;
    height: 40vh;
    margin:0 2%;
    width: 45%;
    background-color: rgb(2, 5, 195);
    padding-left: 4%;
    padding-top: 4%;
}
.box1{
    background-image: url("images/banner/b17.jpg");
    
}
.box2{
    color: white;
    background-image: url("images/banner/b10.jpg");
}
.banner-box h3{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 900;
}
.banner-box p{
    margin-bottom: 15px;
    font-size: 15px;
}
.banner-box button{
    cursor: pointer;
    margin-top: 15px;
    height: 12%;
    width: 20%;
    background: transparent;
    border-color: white;
    color: black;
    font-size: 14;
    transition: transform 0.3s;
}
.banner-box button:hover{
    color: white;
    background-color: #088178;
    transform: scale(1.2);
}
.text-banners{
    margin: 0 0%;
    display: flex;
    justify-content: space-evenly;
}
.text-banner-box{
    padding-left: 19px;
    background-size: cover;
    line-height: 50px;
    background-position: right ;
    height: 35vh;
    width: 31%;
    margin: 10px 0%;
    background-color: rgb(142, 61, 61);
}
.text-banner-box h2{
    color: white;
    margin-top: 18%;
}
.text-banner-box h4{
    color: rgb(239, 57, 57);
}
.boxA{
    background-image: url("images/banner/b7.jpg");
}
.boxB{
    background-image: url("images/banner/b4.jpg");
}
.boxC{
    background-image: url("images/banner/b18.jpg");
}
.Sign-for-newspaper{
    background-image: url("images/banner/b14.png");
    background-color: navy;
    opacity: 0.8;
    background-repeat: repeat-x;
    background-position: 20% 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
.news-detail{
    margin-left: 6%;
}
.news-detail h4{
    color: white;
}
.news-detail p{
    color: rgb(159, 170, 231);
}
.email-input{
    outline: none;
    padding-left: 20px;
    background-color: white;
    border: none;
    height: 5vh;
    width: 25vw;
}
.email-signup{
    cursor: pointer;
    background-color: #088178;
    border: none;
    margin-left: -10px;
    height: 5vh;
    width: 7vw;
}

.footer{
    height: 50vh;
    display: grid;
    grid-template-columns: 35% 20% 20% 25%;
}
.col1{
    margin-top: 10%;
    padding-left: 5vw;
}
.col1 p{
    margin: 10px 0 10px 0;
}
.col1 h4{
    margin-top: 30px;
    margin-bottom: 10px;
}
.aboutlist{
    margin-top: 8%;
    line-height: 34px;
    list-style: none;
}
.aboutlist a{
    color: black;
    text-decoration:none;
}
.col2{
    padding-top: 11%;
    margin-left: 0;
}
.Install-img{
    width: 100%;
}
.img1{
    width: 30%;
    height: 40px;
    margin-right: 15px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #18dacd;
    transition: transform 0.3s;
}
.img1:hover{
    transform: scale(1.2);
}



@media (max-width:1024px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 180px;
        line-height: 70px;
        padding: 80px 0 0 10px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        transition: 0.4s;
    }
    .home-banner{
        height: 22vh;
    }
    #navbar.active{
        right: 0;
    }
    #close{
        position: absolute;
        top: 35px;
        left: 30px;
        font-size: 25px;
        color: black;
        text-decoration: none;
    }
    .mobile{
        display: flex;
    }
    .mobile i{
        font-size: 28px;
        color: black;
        padding-left: 30px;
    }
    .mobile a{
        margin-left: 50px;
    }
}